In [103]:
# Import data from sources
import pandas as pd
tr_feat = pd.read_csv('https://drive.google.com/uc?export=download&id=14ULvX0uOgftTB2s97uS8lIx1nHGQIB0P')
tr_labels = pd.read_csv('https://drive.google.com/uc?export=download&id=1r441wLr7gKGHGLyPpKauvCuUOU556S2f')
te_feat = pd.read_csv('https://drive.google.com/uc?export=download&id=1wvsYl9hbRbZuIuoaLWCsW_kbcxCdocHz')
submission = pd.read_csv('https://drive.google.com/uc?export=download&id=1kfJewnmhowpUo381oSn3XqsQ6Eto23XV')
tr_feat.shape, tr_labels.shape, te_feat.shape, submission.shape

((59400, 40), (59400, 2), (14358, 40), (14358, 2))

In [104]:
# Explore and clean data
pd.set_option('display.max_columns', 50)
tr_feat.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [105]:
tr_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [106]:
tr_feat.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [109]:
tr_feat.describe(exclude='number')

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
count,59400,55765,55745,59400,59400,59029,59400,59400,59400,56066,59400,55523,31234,56344,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1897,2145,37400,9,19287,21,125,2092,2,1,12,2696,2,18,13,7,12,5,7,7,8,6,5,5,10,7,3,7,6
top,2011-03-15,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,GeoData Consultants Ltd,VWC,K,True,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,59400,36793,682,38852,26780,26780,26780,40507,52490,25348,25348,50818,50818,33186,33186,17021,17021,45794,28522,34625

In [110]:
# Create tr_feature set with only numeric
tr_feat_num = tr_feat.select_dtypes('number')
tr_feat_num.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0

In [111]:
# Create tr_feature set with only non-numeric variables
tr_feat_cat = tr_feat.select_dtypes(exclude = 'number')
tr_feat_cat.head()

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,GeoData Consultants Ltd,VWC,Roman,False,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,GeoData Consultants Ltd,Other,NaN,True,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,GeoData Consultants Ltd,VWC,NaN,True,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,GeoData Consultants Ltd,NaN,NaN,True,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [112]:
# Review newly created frames
tr_feat_num.isnull().sum()

id                   0
amount_tsh           0
gps_height           0
longitude            0
latitude             0
num_private          0
region_code          0
district_code        0
population           0
construction_year    0
dtype: int64

In [113]:
tr_feat_cat.isnull().sum()

date_recorded                0
funder                    3635
installer                 3655
wpt_name                     0
basin                        0
subvillage                 371
region                       0
lga                          0
ward                         0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [114]:
# Dropping features with high count of null values
tr_feat = tr_feat.drop(['scheme_name','funder','installer','public_meeting','scheme_management',
                                'permit'], axis=1)

tr_feat.isnull().sum()

id                         0
amount_tsh                 0
date_recorded              0
gps_height                 0
longitude                  0
latitude                   0
wpt_name                   0
num_private                0
basin                      0
subvillage               371
region                     0
region_code                0
district_code              0
lga                        0
ward                       0
population                 0
recorded_by                0
construction_year          0
extraction_type            0
extraction_type_group      0
extraction_type_class      0
management                 0
management_group           0
payment                    0
payment_type               0
water_quality              0
quality_group              0
quantity                   0
quantity_group             0
source                     0
source_type                0
source_class               0
waterpoint_type            0
waterpoint_type_group      0
dtype: int64

In [149]:
# Create train validate test split
from sklearn.model_selection import train_test_split

X_train = tr_feat
y_train = tr_labels['status_group']

X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size=0.80, test_size=0.20, 
    stratify=y_train, random_state=56)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 34), (11880, 34), (47520,), (11880,))

In [150]:
# Look at the unique values
X_train.describe(exclude='number').T.sort_values(by='unique')

                       count unique                      top   freq
recorded_by            47520      1  GeoData Consultants Ltd  47520
source_class           47520      3              groundwater  36695
quantity_group         47520      5                   enough  26515
quantity               47520      5                   enough  26515
management_group       47520      5               user-group  42026
waterpoint_type_group  47520      6       communal standpipe  27576
quality_group          47520      6                     good  40592
source_type            47520      7                   spring  13628
extraction_type_class  47520      7                  gravity  21396
waterpoint_type        47520      7       communal standpipe  22726
payment                47520      7                never pay  20288
payment_type           47520      7                never pay  20288
water_quality          47520      8                     soft  40592
basin                  47520      9            Lake Victoria   8253
source                 47520     10                   spring  13628
management             47520     12                      vwc  32372
extraction_type_group  47520     13                  gravity  21396
extraction_type        47520     18                  gravity  21396
region                 47520     21                   Iringa   4292
lga                    47520    125                   Njombe   2038
date_recorded          47520    349               2011-03-15    459
ward                   47520   2082                    Igosi    233
subvillage             47220  17214                  Majengo    419
wpt_name               47520  30785                     none   2882

In [151]:
X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
id,47520.0,37098.639331,21485.274320,0.00000,18478.750000,36965.500000,55714.250000,7.424700e+04
amount_tsh,47520.0,323.401466,3214.198902,0.00000,0.000000,0.000000,20.000000,3.500000e+05
gps_height,47520.0,667.719739,693.321886,-90.00000,0.000000,367.000000,1320.000000,2.770000e+03
longitude,47520.0,34.055075,6.635436,0.00000,33.087422,34.904443,37.188398,4.034519e+01
latitude,47520.0,-5.700776,2.947705,-11.64944,-8.532760,-5.020919,-3.324109,-2.000000e-08
num_private,47520.0,0.478704,12.986062,0.00000,0.000000,0.000000,0.000000,1.776000e+03
region_code,47520.0,15.371170,17.694417,1.00000,5.000000,12.000000,17.000000,9.900000e+01
district_code,47520.0,5.669339,9.709886,0.00000,2.000000,3.000000,5.000000,8.000000e+01
population,47520.0,178.162016,470.472582,0.00000,0.000000,25.000000,210.000000,3.050000e+04
construction_year,47520.0,1300.551410,951.671777,0.00000,0.000000,1986.000000,2004.000000,2.013000e+03

In [33]:
# Install category encoders library
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
Requirement already satisfied: pandas>=0.21.1 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.11.3 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (1.16.2)
Requirement already satisfied: scipy>=0.19.0 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (1.2.1)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: patsy>=0.4.1 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\nayan\anaconda3\lib\site-packages (from category_encoders) (0.20.3)
Requirement already satisfied: pytz>=2011k in c:\users\nayan\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\nayan\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.0)
Requirement already satisfied: six in c:\users\nayan\anaconda3\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [34]:
# Load category encoders module
import category_encoders as ce

In [36]:
# Apply scaling to increase accuracy of the model fit
# This requires another function from sklearn library
from sklearn.preprocessing import StandardScaler

In [164]:
# Apply scaler method to train and validation sets
# Create feature list
categorical_features = ['quality_group', 'quantity_group','extraction_type','waterpoint_type','source','water_quality','management','payment','region']
numeric_features = X_train.select_dtypes('number').columns.drop(['id','num_private','district_code','construction_year']).tolist()
features = categorical_features + numeric_features

# Create train and validations subsets
X_train_subset = X_train[features]
X_val_subset = X_val[features]

# Use one hot encoding as above
encoder = ce.OneHotEncoder(use_cat_names=True)

# For training set we use fit_transform
X_train_encoded = encoder.fit_transform(X_train_subset)

# For validation set use transform
X_val_encoded = encoder.transform(X_val_subset)

# Apply scaling to scaler
scaler = StandardScaler()

# Apply scaler to train and validation sets
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

C:\Users\nayan\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\nayan\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\nayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [165]:
# Train logistic regression model using train data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=10000)
model.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [166]:
# Calculate accuracy of model
print('Model accuracy using validation data is:', model.score(X_val_scaled, y_val))

Model accuracy using validation data is: 0.7307239057239058

In [167]:
# Run model on test data set
X_test_subset = te_feat[features]
X_test_encoded = encoder.transform(X_test_subset)
X_test_scaled = scaler.transform(X_test_encoded)

C:\Users\nayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [168]:
# Verify columns match between train and test
all(X_test_encoded.columns == X_train_encoded.columns)

True

In [169]:
# Create submission file
sub = submission.copy()
sub['status_group'] = model.predict(X_test_scaled)
sub.to_csv('NDoshi_DS4_Sub.csv', index = False)

In [90]:
!head NDoshi_DS4_Sub.csv

'head' is not recognized as an internal or external command,
operable program or batch file.